
.baseTitle {
  text-align: center;
}

.h1Title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1rem;
  margin-bottom: 0.625rem;
  display: block;
}

@media (min-width: 768px) {
  .h1Title {
    font-size: 3rem;
  }
}

.h2Title {
  text-align: center;
}

.h3Title {
  font-size: 1.25rem;
}